/* LED Border Effect */
.led-border {
    padding: 20px;
    position: relative;
    border-radius: 10px;
    background-color: #000; /* Fondo dentro del borde */
    overflow: hidden;
}

.led-border::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, red, blue, white, red, blue, white);
    background-size: 300%;
    border-radius: 12px;
    z-index: -1;
    animation: animate-border 5s linear infinite;
}

@keyframes animate-border {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
}

.control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button.control {
    background-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
}

button.control:hover {
    background-color: #0056b3;
}
